 /*---------------Barra de navegaçao------------------*/

 html,
 body {
  background-color:wheat;
   font-family: Arial, Helvetica, sans-serif;
   height: 100%;
   margin: 0;
 }

 nav {
   overflow: hidden;
   background-color: #0f2972;
   opacity: 0.;
 }

 nav a {
   float: left;
   font-size: 16px;
   color: rgb(189, 91, 11);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 .dropdown {
   float: left;
   overflow: hidden;
 }

 .dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: rgb(189, 91, 11);
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }

 nav a:hover,
 .dropdown:hover .dropbtn {
   background-color: rgb(116, 228, 105);
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }

 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }

 .dropdown-content a:hover {
   background-color: #f7f7f7;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

 /*---------------Barra de navegaçao------------------*/


 /*---------------Seccao Home Imagem de fundo------------------*/
 .imagem {
   background-image: url(https://pt.bcdn.biz/Images/2018/12/31/4c7f673c-35fe-4fc8-8992-b882723e6a3d.jpg);
   min-height: 100%;
   width: 100%;
   background-position: center center;
 }

 .contentor>* {
   background-image: url(https://lh5.googleusercontent.com/-9cxqbIe6w18/VDLq62SParI/AAAAAAAAEl0/ykHarTBO_Ts/s0/fundos%252520%252528250%252529.jpg);
   border: 1px solid black;
   padding: 1px;
   font-size: 2rem;
 }

 .heading {
   background-image: url(https://1.bp.blogspot.com/-JorCv91qr1s/YMgTUmcu2eI/AAAAAAABBFU/nPT2BI8dxdETZE8_cPci72MlLsT86NIGwCLcBGAsYHQ/s2560/Vidro%2BMolhado%2Bpara%2BPlano%2Bde%2BFundo%2BCelular.jpg);
   font-family: Arial, Helvetica, sans-serif;
   color: #f7f7f7;
   padding: 3px 0;
   text-align: center;
 }

 /*---------------Seccao Home Imagem de fundo------------------*/


 /*---------------Seccao Home------------------*/
 .boxFrase {
   position: relative;
   top: 10vw;
   left: 15vw;
   width: 800px;
   height: 150px;
   border: 3px solid rgb(255, 0, 242);
   overflow: hidden;
   padding: 12px;
   font-family: monospace;
   font-size: 18px;
   color: aqua;
   background-image: url(imagens/imagemFolhas.jpeg);
 }

 /*---------------Seccao Home------------------*/



 /*---------------Media queries------------------*/
 @media (max-width:900px) {
   div.contentor {
     height: 900px;
     background-image: url(imagens/imagemArvore.jpeg);
   }

   .boxFrase {
     height: 150px;
     width: 300px;
     font-family: monospace;
     font-size: 18px;
     color: black;
     grid-template-columns: auto;
   }
 }

 /*---------------Media queries------------------*/

 /*---------------Paralax------------------*/
 div.parallax {
  background-color: yellow;
   margin: 30px;
   border: 3px solid black;
 }

 .parallax {
   background-image: url("https://img.freepik.com/fotos-gratis/foto-hipnotizante-da-ponta-da-piedade-um-local-pitoresco-em-portugal_181624-35836.jpg?w=1480&t=st=1681759259~exp=1681759859~hmac=c37e20de1a5f83ae84747f4143945ba35b35e85e6e70112d9f4bf94c405f275d");
   min-height: 300px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .parallax2 {
   background-image: url("https://img.freepik.com/fotos-gratis/barco-de-pesca-na-praia-da-nazare-em-portugal-durante-o-dia_181624-16868.jpg?w=1060&t=st=1681759384~exp=1681759984~hmac=7d4aeab0307aae42eab9ee8c351db81f7d4021b8e7e37ff65f9a22c2f5963f1a");
   width: 400px;
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   transition: width 2s;
   margin: 30px;
 }

 .parallax2:hover {
   width: 100%;
 }

 .parallax3 {
   background-image: url("https://img.freepik.com/fotos-gratis/praia-do-norte-e-oceano-na-nazare-portugal_1268-14124.jpg?w=1060&t=st=1681759435~exp=1681760035~hmac=6f6e19d9a90d3b260ef5a221a38f8340e22574642c866b9c3015cb20cf55d748");
   min-height: 200px;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
 }

 b {
   color: dodgerblue;
 }

 .h1Parallax {
   text-align: center;
   letter-spacing: 20px;
   color: purple;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: larger;
 }

 .txtP {
   text-align: center;
   padding: 15px;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .txtP2 {
   text-align: center;
   padding: 15px;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .txtP3 {
   text-align: center;
   padding: 15px;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }



 /*---------------Paralax------------------*/